@model IEnumerable<Group>



<div>
    <div>
        <h1 class="">Groups</h1>
    </div>

    <div>
        <ol class="list-group list-group-numbered">

            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@item.Name</div>
                    </div>
                    <a asp-controller="Group" asp-action="Edit" asp-route-groupId="@item.Id" asp-route-courseId="@ViewBag.CourseId"
                       class="btn btn-primary rounded-pill">Edit</a>
                    <form asp-action="Delete" method="post" asp-route-groupId="@item.Id" asp-route-courseId="@ViewBag.CourseId" >
                        <input class="btn btn-danger rounded-pill" type="submit" value="Delete"/>
                    </form>
                    <a asp-controller="Student" asp-action="Index" asp-route-groupId="@item.Id" asp-route-courseId="@ViewBag.CourseId" 
                       class="btn btn-secondary rounded-pill">Students</a>
                </li>
            }
        </ol>
    </div>
    
    <div class="container m-1">
         <a class="btn btn-primary" asp-action="Create" asp-route-courseId="@ViewBag.CourseId">Create</a>
    </div>

</div>
